<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Super Dinomite</title>
    <meta name="description" content="Dinomite game">
    <meta name="author" content="Joe McDowall">
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon.ico" />
    <link href="./styles/reset.css" rel="stylesheet" />
    <link href="./styles/style.css" rel="stylesheet" />
</head>

<body>
    <div id="debug-window" class="debug-window" v-cloak>
        <div v-if="showDebug">
            <div>{{ position }}</div>
            <div>{{ gridPosition }}</div>
            <div>{{ direction }}</div>
            <div>{{ gridIndex }}</div>
            <div>{{ state }}</div>
            <div>{{ bombCount }}</div>

            <ul id="logs">
                <li v-for="(log, index) in logs" :key="log.name+index">
                    {{ log.name }}: {{ log.data }}
                </li>
            </ul>
        </div>
    </div>

    <canvas id="canvas" width="600" height="600"></canvas>

    <script type="text/javascript" src="./main.js"></script>
</body>

</html>